.Nav{
    width: 100vw;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.Nav-Left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
   
}
.Nav-Right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
h1{
    font-family: Segoe UI light;
    font-size: 20px;
}
.Nav_Link{
    color: #fafafad0;
    text-decoration: none;

    margin-right: 30px;
}
.Nav_Button{
    font-family: Segoe UI Regular;
    background-color: #0076c0bd;
    color: #FAFAFA;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
}