.Vehicle-Card {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    min-height: 70vh;
    padding: 80px 100px;
    padding-right: 0px;
    align-items: center;
}
.Vehicle-Name {
    font-family: "UI-Bold";
    color: #1D242B;
    font-size: 35px;
    margin-bottom: 70px;
}
.Vehicle-Atributes {
    font-family: "UI-Light";
    color: #000000;
    font-size: 20px;
    margin-bottom: 50px;
}
.Vehicle-Atribute {
    margin-bottom: 25px;
}
.Vehicle-Links {
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Vehicle-Button {
    border: none;
    font-family: "UI-Bold";
    font-size: 20px;
    padding: 10px 60px;
    background-color: #30363d;
    color: #C7EEFF;
    margin-bottom: 10px;
    cursor: pointer;
}
.Vehicle-Button:hover {
    background-color: #C7EEFF;
    color: #30363d;
}
.Vehicle-Price {
    font-size: 20px;
    font-family: "UI-Bold";
    color: #1D242B;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    background: none;
}


/*More Atributes*/
.Vehicle-Info-Button{
    text-decoration: underline;
    border: none;
    font-family: "UI-Normal";
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff00;
    color: #000000;
}
#Open-Car-Atributes-Kugstr,
#Open-Car-Atributes-Yellow{
    z-index: 1;
    display: flex;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000ad;
    backdrop-filter: blur(10px);
}
.Car-Window{
    -webkit-overflow-scrolling: touch;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1500px;
    height: 85%;
    background-color: #FFFFFF;
    padding: 70px 100px;
}
#Close-Car-Window {
    color: #000000bd;
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
    font-family: 'UI-Normal';
}
.Car-Title{
    font-size: 35px;
    font-family: "UI-Bold";
    text-align: center;
}
.Car-Atributes-Top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.Car-Atributes{
    font-size: 21px;
    font-family: 'UI-Light';
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.Car-Atribute{
    margin-bottom: 20px;
}
.Car-Descriptions{
    width: 70%;
    font-family: 'UI-Light';
    font-size: 21px;
}
.Car-Description{
    margin-top: 35px;
}

/*PriceList*/
#Price-Window-Background-Yellow,
#Price-Window-Background-Kugstr{
    z-index: 1;
    font-family: "UI-Light";
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000007c;
    backdrop-filter: blur(10px);
}
.Price-Window {
    background-color: #FFFFFF;
    padding: 50px;
    width: 1000px;
    text-align: center;
    position: relative;
    
}
#Close-Price-Window {
    color: #000000;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    font-family: "UI-Normal", sans-serif; /* Přidání záložního písma */
}
.Prices {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.Prices div{
    background-color: #000000;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
}
.Days {
    margin-bottom: 60px;
}
.Price-Info {
    font-size: 19px;
    margin-bottom: 20px;
}

/*Responzive*/

@media screen and (max-width: 1805px){
    .Vehicle-Card {
        padding: 80px 0px;
    }
}

@media screen and (max-width: 1630px){
    .Vehicle-IMG-Yellow {
        height: 280px;
    }
    .Vehicle-IMG-Kugstr {
        height: 280px;
    }
    .Vehicle-Card {
        flex-direction: column-reverse;
        text-align: center;
    }
    .Vehicle-Links {
        width: auto;
    }
    .Vehicle-IMG{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1460px){

    .Car-Window{
        
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        width: 800px;
        min-height: 100%;
    }
    .Car-Atributes-Top{
        flex-direction: column-reverse;
    }
    .Car-Atributes-Top{
        align-items: center;
        margin-top: 75px;
    }
    .Car-Atributes{
        margin-top: 75px;
        text-align: center;
    }
    .Car-Descriptions{
        text-align: center;
        width: 550px;
    }
}

@media screen and (max-width: 1115px) {
    .Vehicle-IMG-Yellow {
        height: 200px;
    }
    .Vehicle-IMG-Kugstr {
        height: 200px;
    }
    .Vehicle-IMG-Yellow img{
        width: 400px;
    }
    .Vehicle-IMG-Kugstr img{
        width: 350px;
    }
}
@media screen and (max-width: 755px) {
    
    .Vehicle-Name {
        font-size: 25px;
    }
}
@media screen and (max-width: 715px) {
    .Car-Window{
        padding: 70px 20px;
    }
    .Car-Atributes{
        flex-direction: column;
    }
    .Car-Descriptions{
        width: 100%;
        font-family: 'UI-Light';
        font-size: 21px;
    }
    .Price-Window {
        background-color: #FFFFFF;
        padding: 60px 20px;
        width: 400px;
        text-align: center;
        position: relative;
    }
    .Prices {
        flex-direction: column;
        padding-bottom: 50px;
    }
    .Prices div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 17px;
    }
    .Days {
        margin-bottom: 0px;
    }
    .Price-Info {
        font-size: 17px;
    }
}
@media screen and (max-width: 600px){
    .Car-Window{
        position: relative;
        display: block;
    }
    .Vehicle-IMG-Yellow {
        height: 150px;
    }
    .Vehicle-IMG-Kugstr {
        height: 150px;
    }
    .Car-Title {
        font-size: 30px;
    }
    .Vehicle-IMG-Yellow img{
        width: 300px;
    }
    .Vehicle-IMG-Kugstr img{
        width: 260px;
    }
    #Close-Car-Window {
        font-size: 30px;
    }
    .Car-Atribute-Image{
        width: 350px;
    }
    .Car-Atribute-Image-Kugstr{
        width: 320px;
    }
    .Car-Atributes{
        font-size: 18px;
    }
    .Car-Descriptions{
        width: 100%;
        font-family: 'UI-Light';
        font-size: 20px;
    }
}
@media screen and (max-width: 430px) {
    .Vehicle-IMG{
        margin-bottom: 20px;
    }
    .Vehicle-IMG img{
        width: 275px;
    }
}

